.review {
    padding-bottom: 70px;
    &__wrapper {
        margin: 0 auto;
        margin-top: 70px;
        width: 880px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    &__item {
        display: flex;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        margin-bottom: 100px;
        &:nth-child(3) {
            margin-bottom: 0;
        }
    }
    &__descr {
        width: 650px;
    }
    &__img {
        margin-right: 60px;
        width: 169px;
        height: 169px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        }
    &__distance {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
}